body{
    width: 900px;
    margin-left:auto;
    margin-right: auto;
}

#c1{
    height: 500px;
    width: 100%;
    background-color: #a741cf;
}
.caixaSuperior{
    
    width: 100%;
   

    padding-top: 50px;
}
.caixaSuperior h1{
    color: #fff;
    text-align: center;
    font-size: 40px;
    margin: 0px;
    text-align: center;
}
.cx{
    width: 70%;
   text-align: center;
    margin-top: 40px;
    margin-left: 15%;

 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color:#fff;
}
